$colorbg: rgb(244, 228, 0);
$colorby:  rgb(0, 0, 0);
$colortex: #f6e2e2;

@import "fuentes";
@import "principal";


/*Pagina de contacto*/
.contact_form {
  max-width: 84%;
  height: auto;
  margin: 4% auto;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: $colorbg;
}

input {
  background-color: $colortex;
  width: 78%;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: $colorby;
  margin-top: 2%;
  padding-left: 2%;
  margin-bottom: 2%;
}

textarea {
  background-color: $colortex;
  width: 80%;
  height: 100px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: $colorby;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 40%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10%;
  text-transform: uppercase;
  background-color: $colorby;
  border-color: $colorbg;
  border-style: solid;
  border-radius: 10px;
  width: 42%;
  cursor: pointer;
}

button p {
  margin: 2%;
  color: $colortex;
}

span {
  color: red;
}

.aviso {
  font-size: 13px;
  color: $colorby;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: $colorby;
}

.h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: $colorby;
}

p {
  font-size: 85%;
  margin: 4% 4%;
  color: $colorby;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

/*Galeria*/
.padre {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: 1fr 1fr;
}

.textogaleria { /*Fotos de galeria*/
  display: grid;
  text-decoration: none; /*Sacamos la linea del texto*/
  color: #fbff00;
}

.div{
  max-width: 100%;
  max-height: 73%;
}

.fotoga {
  width: 70%;
  height: 100%;
}

a:focus { /*Se nota cuando apretas la tecla TAB*/
  color: #658c5b;
}
 /*Historia*/
 .texthistoria{
  color: $colortex;
  margin: 0% 10%;
  font-size: 130%;
 }

 .texthistoria{
  color: $colortex;
  margin: 0% 4%;
  font-size: 115%;
  margin-top: 10%;
 }

 .fotohistoria{
  width: 40%;
  margin:10% 0%;
 }
/*Fin de historia*/
 .consejo{
  margin: 2% 4%;
 }
 

@media (max-width: 480px){
  
  .tituloin{
    font-size: 115%;
  }

  .galeria{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 30%;
  }

  .padre{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .padre2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .padre3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contact_form{
    width: 90%;
  }

   .fotohistoria{
    width: 60%;
    margin:10% 0%;
   }

   .maps{
    max-width: 84%;
  }
  
  .compotera{
    width: 60%;
    height: 60%;
  }

}


@media (max-width: 780px) and (min-width:480px){

  .foto{
    width: 40%;
    height: 40%;
  }

  .compotera{
    width: 60%;
    height: 40%;
  }

  .casillas {
    display: flex;
    flex-direction: row;
    padding: 2.5% 0%; /*Declaro margen superior/inferior con 4%*/
  }

  .padre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .padre2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .padre3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .fotoga {
    width: 90%;
    height: 90%;
  }

  .fotohistoria{
    width: 30%;
    height: 40%;
  }

  .contact_form{
    width: 60%;
  }

  .maps{
    width: 60%;
  }
}


@media (min-width: 780px) {
  header .logo {
    width: 95px;
    height: 95px;
  }

  .casillas {
    display: flex;
    flex-direction: row;
    padding: 2.5% 0%; /*Declaro margen superior/inferior con 4%*/
  }

  .logo:hover {
    transform: scale(1.1);
  }

  .fotoga {
    display: grid;
    width: 70%;
    height: 80%;
    border: 2px solid yellowgreen;
  }

  .galeria{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 30%;
  }

  .padre{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .padre2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .padre3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .textogaleria{
    font-size: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .texthistoria{
    color: $colortex;
    margin: 0% 10%;
    font-size: 115%;
    margin-top: 10%;
   }

   .fotohistoria{
    width: 20%;
    margin: 5% 0%;
    border: solid 2px $colorbg;
   }

   .contact_form{
    width: 50%;
  }

  .maps{
    width: 50%;
  }

   .consejo{
    margin: 0% 4%;
    font-size: 150%;
  }

  button{
    width: 30%;
  }
}