@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  display: flex; /*Declaro que sea flex*/
  flex-direction: column;
  text-align: center;
  min-width: 57vh; /*Un ancho minimo de 107*/
  min-height: 100vh; /*Declaro un alto min de 80*/
  background-color: rgb(0, 0, 0); /*Color de fondo*/
}

.contenedor { /*Declare la parte superior del sitio*/
  display: grid;
  width: 100%;
  height: 22vh;
  text-align: right;
  background-color: rgb(244, 228, 0);
}

header .logo { /* Logo del sitio */
  display: flex;
  float: left; /*Para que se mantenga del lado izquierdo*/
  margin: 2% 0% 0% 3%;
  width: 85px;
  height: 85px;
}

.social {
  display: contents;
}

.social a { /*Redes sociales superior*/
  display: flex;
  float: right;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2em;
  padding: 5% 3%;
}

.pottery {
  text-align: center;
  margin: 6% 20%;
  width: 51%;
  font-size: 140%;
}

a:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.3); /*Escala el tamaño de las redes*/
}

nav {
  display: flex;
  flex-direction: row; /*Dejo en claro que quiero el texto a lo largo*/
  font-size: 100%; /*Declaro tamaño de letra*/
  border-bottom: 2px solid rgb(244, 228, 0);
  justify-content: space-around; /*Hago que el manu se centre*/
  background-color: rgb(0, 0, 0);
}

.casillas {
  flex-direction: colum;
  padding: 2.5% 0%; /*Declaro margen superior/inferior con 4%*/
}
.casillas li {
  display: flex;
  padding: 0 20px; /*Declaro la separación entre la barra de navegación*/
}
.casillas a {
  display: flex;
  text-decoration: none;
  color: rgb(244, 228, 0);
}
.casillas :hover {
  transform: scale(1.3);
  color: rgb(255, 255, 255);
}

.titulo1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  color: rgb(255, 255, 255);
}
.titulo1 .amoramarillo {
  font-size: xx-large;
  margin-top: 3%;
  margin-bottom: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f6e2e2;
}
.titulo1 .diario {
  margin: 6%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f6e2e2;
}
.titulo1 .bienvenidos {
  margin-top: 4%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f6e2e2;
}
.titulo1 .texto {
  font-family: Arial, Helvetica, sans-serif; /*Tipografia*/
  margin-top: 4%; /*Margen de separación*/
  margin-left: 4%;
  margin-right: 4%;
  color: #f6e2e2;
}

.padre {
  width: 100%;
  height: 100%;
}

.foto {
  margin-top: 2%;
  border: 2px solid coral;
  width: 90%;
  height: 100%;
  margin-bottom: 54px;
}

footer {
  padding: 1%;
  margin-bottom: 0%; /*Para que se quede al fondo del sitio*/
  font-size: larger; /*Tamaño de la imagen*/
  background-color: rgb(244, 228, 0);
}
footer .final {
  font-family: "Courier New", Courier, monospace; /*Tipografia que se le di al texto*/
  float: left; /*Para que se mantenga del lado izquierdo del sitio*/
}
footer .correo {
  font-size: 110%; /*Tamaño de letra*/
  color: black;
}

/*Carrusel*/
.carousel-control-next {
  margin-top: 14%;
}

.carousel-control-prev {
  margin-top: 14%;
}

/*Fin de carrusel*/
/*Galeria*/
.padre { /*Abraza todas las img de galeria*/
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: 1fr 1fr;
}

.textogaleria { /*Fotos de galeria*/
  display: grid;
  text-decoration: none; /*Sacamos la linea del texto*/
  color: #fbff00; /*Declaro color de texto*/
}

.div {
  max-width: 100%; /*Ancho maximo de las cajas*/
  max-height: 73%; /*Largo maximo de las cajas*/
}

.fotoga { /*Fotos de galeria*/
  width: 70%; /*Ancho*/
  height: 100%; /*Largo*/
}

/*Fin de Galeria*

/*Pagina de contacto*/
.contact_form { /*Formulario de contacto*/
  max-width: 84%; /*Ancho maximo*/
  height: auto;
  margin: 4% auto; /*Margen de 4% superior e inferior*/
  padding: 5% 0%; /*Margen superior e inferior*/
  background-color: rgb(244, 228, 0);
}

input {
  background-color: #f6e2e2;
  width: 78%;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(0, 0, 0);
  margin: 2% 0%;
  padding-left: 2%;
}

textarea {
  background-color: #f6e2e2;
  width: 80%;
  height: 100px;
  border-radius: 5px;
  border: solid 1px rgb(0, 0, 0);
  margin: 10px 0px 20px 0px;
  padding: 15px 0px 0px 10px;
}

label {
  display: block;
  float: center;
}

button {
  height: 40%;
  padding: 0px 5px;
  margin: 10px 0px 20px 0px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 10px;
  border: solid rgb(244, 228, 0);
  width: 42%;
  cursor: pointer;
}

button p {
  margin: 2%;
  color: #f6e2e2;
}

span {
  color: red;
}

.aviso {
  font-size: 13px;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
}

.h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: rgb(0, 0, 0);
}

p {
  font-size: 85%;
  margin: 4% 4%;
  color: rgb(0, 0, 0);
}

::-webkit-input-placeholder { /*Texto de cajas*/
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus { /*Color de cajas*/
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus { /*Color de caja inferior*/
  outline: 0;
  border: 1px solid #97d848;
}

/*Fin de Contacto*/
/*Consejos*/
.consejo {
  margin: 2% 4%;
}

/*Fin de consejos*/
/*Historia*/
.texthistoria {
  color: #f6e2e2;
  margin: 0% 10%;
  font-size: 130%;
}

.texthistoria {
  color: #f6e2e2;
  margin: 0% 4%;
  font-size: 115%;
  margin-top: 4%;
}

.fotohistoria {
  width: 40%;
  margin: 3% 0%;
}

/*Fin de historia*/
a:focus { /*Se nota cuando apretas la tecla TAB*/
  color: #658c5b;
}

a:visited { /*Para ver que sitios ya visitaste*/
  color: #8e83db;
}

@media (max-width: 480px) { /*Maximo de 480*/
  .header .logo {
    width: 70px;
    height: 60px;
  }
  .pottery { /*No aparece el titulo*/
    display: none;
  }
  .tituloDeInicio {
    font-size: 115%;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 30%;
  }
  .padre {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .padre2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .padre3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .contact_form {
    width: 90%;
  }
  .maps { /*Declaro ancho maximo de maps*/
    max-width: 84%;
  }
  .fotoConsejo { /*Foto de consejos*/
    width: 60%;
    height: 60%;
    border: 4px solid #f6e2e2;
  }
  .fotohistoria {
    width: 40%;
    margin: 10% 0%;
  }
}
@media (max-width: 780px) and (min-width: 480px) {
  header .logo {
    width: 60px;
    height: 55%;
  }
  .social {
    padding: 9% 4%;
  }
  .pottery {
    margin: 5% 24%;
  }
  .casillas {
    display: flex;
    flex-direction: row;
    padding: 2.5% 0%; /*Declaro margen superior/inferior con 4%*/
  }
  .foto {
    width: 40%;
    height: 40%;
  }
  .padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .padre2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .padre3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fotoga {
    width: 90%;
    height: 90%;
  }
  .contact_form {
    width: 60%;
  }
  .maps {
    width: 60%;
  }
  .fotoConsejo {
    width: 60%;
    height: 40%;
    border: 4px solid #f6e2e2;
  }
  .fotoConsejo:hover {
    filter: sepia(60%);
  }
  .fotohistoria {
    width: 30%;
    height: 40%;
  }
}
@media (min-width: 780px) {
  header .logo {
    margin: 1% 2%;
    width: 90px;
    height: 90px;
  }
  .social a {
    padding: 3.5% 3%;
  }
  .pottery {
    font-size: 230%;
    margin: 3.5% 24%;
  }
  .foto {
    width: 40%;
    border: 4px solid #f6e2e2;
  }
  .foto:hover {
    filter: blur(2px);
  }
  .casillas {
    display: flex;
    flex-direction: row;
    padding: 2.5% 0%; /*Declaro margen superior/inferior con 4%*/
  }
  .logo:hover {
    transform: scale(1.1);
  }
  .fotoga {
    display: grid;
    width: 80%;
    height: 100%;
    border: 2px solid #f6e2e2;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: -webkit-center;
  }
  .padre {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .padre2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .padre3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .textogaleria {
    font-size: 4%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .fotoConsejo {
    width: 50%;
    height: 40%;
    margin-bottom: 2%;
    border: 2px solid #f6e2e2;
  }
  .fotoConsejo:hover {
    filter: sepia(60%);
  }
  .texthistoria {
    color: #f6e2e2;
    margin: 0% 10%;
    font-size: 115%;
    margin-top: 4%;
  }
  .fotohistoria {
    width: 20%;
  }
  .contact_form {
    width: 50%;
  }
  .maps {
    width: 50%;
  }
  .consejo {
    margin: 0% 4%;
    font-size: 150%;
  }
  button {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */